<h2><%= model_name.titleize.pluralize %></h2>

<% admin_controls model_name.pluralize, :for => :index, :ports => configuration.ports, :controls => configuration.controls do  -%>
  <li>
    <% form_tag url_for(:action => 'search') do %>
      <%= text_field_tag :value, params[:value], :size => 15 %>&nbsp;<%= submit_tag 'Find by Email or Name' %>
    <% end %>
  </li>
<% end -%>

<%= admin_table(@users) %>